.c-parallax {
    background:url(../img/bg700.png) 50% 0 no-repeat fixed;
    height: 600px;
    margin: 0 auto;
    padding: 0;

    &-body {

    }

    &-logo {
        display: inline-block;
        padding: 30px;

        img {
            width: 200px;
        }
    }

    &--second {
        background:url(../img/bg-2.png) 50% 50% no-repeat fixed;
        height: 500px;
    }
}