<div class="header">
    <nav class="hidden-xs">
        <ul class="left hide-on-med-and-down">
            <li><a class="page-scroll" href="#blog">BLOG</a></li>
            <li><a class="page-scroll" href="#event">EVENT</a></li>
            <li><a class="page-scroll" href="#releases">RELEASES</a></li>
            <li><a class="page-scroll" href="#videos">VIDEOS</a></li>
            <li><a class="page-scroll" href="#contact">CONTACT</a></li>
        </ul>
        <ul class="social-icons">
            <li>
                <a href="https://twitter.com/tixeebox1" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="visible-xs navbar-fixed-top">
        <ul class="right hide-on-med-and-down">
            <li><a class="page-scroll" href="#blog">BLOG</a></li>
            <li><a class="page-scroll" href="#event">EVENT</a></li>
            <li><a class="page-scroll" href="#releases">RELEASES</a></li>
            <li><a class="page-scroll" href="#videos">VIDEOS</a></li>
            <li><a class="page-scroll" href="#contact">CONTACT</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><a class="page-scroll" href="#blog">BLOG</a></li>
            <li><a class="page-scroll" href="#event">EVENT</a></li>
            <li><a class="page-scroll" href="#releases">RELEASES</a></li>
            <li><a class="page-scroll" href="#videos">VIDEOS</a></li>
            <li><a class="page-scroll" href="#contact">CONTACT</a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a href="#top" class="brand-logo center"><img src="<?php bloginfo('template_directory'); ?>/img/logo.png" alt="tixeeboxロゴ"></a>
        <ul class="social-icons">
            <li>
                <a href="https://twitter.com/tixeebox1" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>