        <script src="<?php bloginfo( 'template_directory' ); ?>/js/lib.min.js"></script>
        <script src="<?php bloginfo( 'template_directory' ); ?>/js/all.js"></script>
        <script src="<?php bloginfo( 'template_directory' ); ?>/js/common.js"></script>
    </body>
</html>